html {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #2f4fa5; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  margin: 0;
  height: 100%;
  padding: 0;
}

.app-container {
  margin: 0;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: url("https://www.models-resource.com/resources/big_icons/22/21700.png");
  background-size: 100% ;
  background-repeat: fixed;
  overflow-x: scroll;
}

.battle-display {
  display: flex;
  margin: 0;
  height: 100%;
  padding: 0px;
  justify-content: space-around;
}

.user-battle-screen {
  margin-top: 325px;
  margin-left: 150px;
}

.simple-ai-rendering {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.messages-container {
  margin-top: 30px;
  border-style: ridge;
  height: 350px;
  width: 400px;
  overflow: auto;
  background-color: rgb(240, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/46/26/64/462664523220dc79474b709a6c07af5b.jpg");
}

.message-object {
  /* border-style: dotted; */
  margin-left: 1.5px;
  background-color: rgb(160, 151, 151, 0.5);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn {
  color: #fff;
  width: 90px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  margin: 8px;
}

.flex-end {
  align-self: flex-end;
}

.flex-start {
  align-self: flex-start;
}

.logout {
  background-color: #1976d2;
}

.form-toggle {
  color: black;
  align-self: center;
}

.form-render {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.5);}

.patch {
  background-color: cornflowerblue;
  align-self: center;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.catch-pokemon {
  background-color: rgb(172, 16, 48);
}

.user-info {
  background-color: rgb(238, 236, 143);
  border-style: ridge;
}

.info {
  background-color: grey;
}

.title {
  margin-left: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pokemon-img {
  display: flex;
  justify-content: center;
}

.battle {
  background-color: rgb(179, 7, 7);
}

.release {
  background-color: black;
}

.message {
  margin-left: 25px;
}

.pokemon-team {
  width: 1216px;
  height: 392.52px;
  border-style: groove;
  border-width: thick;
  background: rgb(130, 129, 138);
  display: flex;
  justify-content: space-evenly;
  background-image: url("https://cdn.bulbagarden.net/upload/3/37/Box_Pok%C3%A9Center_IV.png");
  /* background-size: 100% ; */
  background-repeat: fixed;
}

.pc-substitute {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.pc-pokemon {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background-color: rgb(145, 152, 160);
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-width: thick;
}

.links {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  z-index: 100;
}

.label {
  margin-left: 8px;
  text-align: center;
}

.center {
  margin: auto;
}

.catch {
  background-color: maroon;
  margin-bottom: 10px;
}

.back {
  background-color: rgb(0, 98, 255);
}

.quit {
  background-color: rgb(116, 11, 32);
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  align-self: center;
}

.pokemon-status {
  background-color: rgb(21, 53, 146, 0.5);
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

.selected-pokemon {
  width: 200px;
  margin: auto;
}

.wild-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-color: grey;
  height: 250px;
  width: 175px;
}

.wild-pokemon-container {
  justify-content: center;
  align-self: center;
  width: 1216px;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  padding: 24px;
}

.battle-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(168, 168, 165);
  width: 200px;
  height: 250px;
  border-style: solid;
  border-width: thick;
}

.health-bar {
  align-self: center;
  z-index: 5;
  margin-top: 10px;
}

.health {
  text-align: center;
}

.opponent {
  margin-left: auto;
}

.attack {
  background-color: darkblue;
}

.defend {
  background-color: #dc004e;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  color: white;
}

.post {
  background-color: darkred;
}

.div-form {
  height: 50%;
  /* width: 50%; */
  display: flex;
  justify-content: center;
}

.display-near-top {
  margin-top: 100px;
  background-color: honeydew;
  width: 450px;
}

.battle-end {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.endgame {
  background-color: rgb(146, 54, 54);
}

.team {
  /* background-color: darkblue; */
  z-index: 100;
  margin: 2px;
}

.status {
  margin-top: 31px;
  background-color: rgb(21, 53, 146)
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-align: center;
}

.form-render {
  background-color: rgb(128, 185, 128);
  width: 500px;
  height: 300px;
  border-style: ridge;
}

.info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}